<a href="https://colab.research.google.com/github/Raj-Patoliya/Sem-2-Python/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. Write a Python Program to Convert Celsius to Fahrenheit and vice –a-versa.**

In [ ]:
def fah(fahrenheit):
	celsius = ( fahrenheit - 32) * 5.0/9.0
	print("\n\tFahrenheit "+ str(fahrenheit))
	print("\n\tcelsius "+ str(celsius))

def cel(celsius):
	fahrenheit = 9.0/5.0 * celsius + 32
	print(" \n\tcelsius "+ str(celsius))
	print(" \n\tFahrenheit "+ str(fahrenheit))
 
raj = input("\n\tInput Temprature :  ")
print("\n\tfahrenheit To Celsius ")
fah(float(raj))
print("\n\tCelsius To fahrenheit ")
cel(float(raj))
##################################  OUTPUT  ###############################################

	Input Temprature :  100

	fahrenheit To Celsius

	Fahrenheit 100.0

	celsius 37.77777777777778

	Celsius To fahrenheit

	celsius 100.0

	Fahrenheit 212.0

---
### **2. Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal**

In [ ]:
dec = int(input("\n\t Enter The Decimal Value : "))
print("\n\tThe decimal value is "+ str(dec))
print("\n\t"+str(dec)+" in binary " +bin(dec))
print("\n\t"+str(dec)+" in binary " +oct(dec))
print("\n\t"+str(dec)+" in hexadecimal " +hex(dec))
##################################  OUTPUT  ###############################################

	 Enter The Decimal Value : 15

	The decimal value is 15

	15 in binary 0b1111

	15 in binary 0o17

	15 in hexadecimal 0xf


---

### **3. Write a program to make a simple calculator (using functions).**

In [ ]:
def add(a,b):
	print(a+b)
def sub(a,b):
	return a-b
def mul(a,b):
	return a*b
def div(a,b):
	return a/b
print("\n\t1 For Addition")
print("\n\t2 For Substratcion ")
print("\n\t3 For Multiplication")
print("\n\t4 For Division")
print("\n\t0 For Exit")
ch = input("\n\tSelect your Choice : ")	
a = input("\n\t A = ")
b = input("\n\t B = ")
if ch == 1:
	add(a,b)
elif ch == 2:
	sub(a,b)
elif ch == 3:
	mul(a,b)
elif ch == 4:
	div(a,b)
 ##################################  OUTPUT  ###############################################

	1 For Addition

	2 For Substratcion

	3 For Multiplication

	4 For Division

	0 For Exit

	Select your Choice : 2

	 A = 30

	 B = 20


---

### **4. Write a program in python to find out maximum and minimum number out of three user entered number.**

In [ ]:
a = int(input("\n\tEnter First Number : "))
b = int(input("\n\tEnter Second Number : "))
c = int(input("\n\tEnter Third Number : "))
if a > b and a > c :
	print(a," is Biggest Number")
elif b > a and b > c :
	print(b," is Biggest Number")
elif c > b and c > a :
	print(c," is Biggest Number")
if a < b and a < c :
	print(a," is smallest Number ")
elif b < a and b < c :
	print(b," is smallest Number")
elif c < b and c < a :
	print(c," is smallest Number")
 
##################################  OUTPUT  ###############################################

	Enter First Number : 150

	Enter Second Number : 160

	Enter Third Number : 170
170  is Biggest Number
150  is smallest Number



---
### **5. Write a program which will allow user to enter 10 numbers and display largest odd number from them. It will display appropriate message in case if no odd number is found.**

In [ ]:
i=0
inplist = [0]*5
while(i != 51):
	inplist[i] = input("\n\tEnter The A["+str(i)+"]")
	i=i+1
temp = 0
count = 0
i = 0
while(i != 5):
	if int(inplist[i]) % 2 == 1 :
		count = count + 1
		if int(temp) < int(inplist[i]) :
			temp = inplist[i]
	i=i+1
if count == 0 :
	print("\n\t There is no odd Number")
else :
	print("Largest odd number is ",str(temp))
##################################  OUTPUT  ###############################################

	Enter The A[0]5

	Enter The A[1]10

	Enter The A[2]51

	Enter The A[3]32

	Enter The A[4]33
Largest odd number is  51



---
### **6. Write a Python program to check if the number provided by the user is an Armstrong number**

In [ ]:
num = int(input("\n\tEnter the number : "))
temp = num
arm = 0
while(int(temp) > 0) :
	reminder = int(temp) % 10
	temp = temp / 10
	arm = arm + (reminder *reminder * reminder )
if num == arm :
	print("\n\t"+str(num)+" Number is Armstrong number")
else :
	print("\n\t"+str(num)+" Number is not Armstrong number")
 ##################################  OUTPUT  ###############################################

	Enter the number : 151

	151 Number is not Armstrong number



---
### **8. Write a Python program to perform following operation on given string input:**
**a) Count Number of Vowel in given string**

**b) Count Length of string (donot use len() )**

**c) Reverse string**

**d) Find and replace operation**

**e) check whether string entered is a palindrome or not**

In [ ]:
string = input("\n\tEnter String  : ")
i = 0
count = 0 
for s in string :
    i = i + 1
    if s == 'a' or s == 'e' or s == 'i' or s == 'o' or s == 'u' :  
        count = count + 1 
print("\n\tThere are "+str(count)+" vovels in given string")
print("\n\tLength of given string is "+str(i))
print("\n\tReverse of given string is "+string[::-1])
if string == string[::-1] :
    print("\n\tGiven String is Palindrom string")
else :
        print("\n\tGiven String is not Palindrom string")
old = input("\n\tEnter Word to be replaced  : ")
new = input("\n\tEnter new word  : ")
x = string.replace(old,new)
print("\n\tUpdated string : "+x)
##################################  OUTPUT  ###############################################

	Enter String  : Hello World

	There are 3 vovels in given string

	Length of given string is 11

	Reverse of given string is dlroW olleH

	Given String is not Palindrom string

	Enter Word to be replaced  : World

	Enter new word  : Raj

	Updated string : Hello Raj



---
### **9. Write a program in python to implement Fibonacci series up to user entered number.(Use recursive Function)**

In [ ]:
def fibo(n,n1,n2):
    if n == 0 :
        return
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    n = n - 1
    print(" "+str(n3))
    fibo(n,n1,n2)

n = int(input("\n\tEnter Number : "))
print(" 0")
print(" 1")
fibo(n,0,1)
##################################  OUTPUT  ###############################################

	Enter Number : 5
 0
 1
 1
 2
 3
 5
 8



---
### **10. Write a program in python to implement Factorial series up to user entered number(Use recursive Function)**

In [ ]:
def fact(n):
    count = n
    if n==0:
        return
    num = 1
    while(count!=1):
        num = num * count
        count= count - 1
    print(num)    
    n= n-1
    fact(n)
n = int(input("\n\tEnter Number : "))
fact(n)
##################################  OUTPUT  ###############################################

	Enter Number : 5
120
24
6
2
1

# **Extra Sheet : 1**



---
**1. Write a function intreverse(n) that takes as input a positive integer n and returns the
integer obtained by reversing the digits in n.**

In [ ]:
def rev(num):
	thislist = []
	revnum = 0
	while(num >= 1):
		mod = num % 10
		revnum = int(revnum * 10 + mod) 	
		num = num / 10
	return(revnum)		

num = input("\n\tEnter The Number : ")
x = rev(int(num))
print("\n\tReversed Value  =  ",x)
print("\n\tType of Reversed Value = ",type(x))
##################################  OUTPUT  ###############################################

	Enter The Number121

	Reversed Value  =   121

	Type of Reversed Value =  <class 'int'>

---

**2. Write a function matched(s) that takes as input a string s and checks if the brackets "("
and ")" in s are matched: that is, every "(" has a matching ")" after it and every ")" has
a matching "(" before it. Your function should ignore all other symbols that appear in s.
Your function should return True if s has matched brackets and False if it does not.
Hint: Keep track of the nesting depth of brackets. Initially the depth is 0. The depth increases
with each opening bracket and decreases with each closing bracket. What are the constraints
on the value of the nesting depth for all brackets to be matched?
Here are some examples to show how your function should work.**

In [ ]:
def match(string):
	temp = 0
	for x in string:
		if x == "(":
			temp = temp + 1		
		elif x == ")":
			if(temp > 0):
				temp = temp -1
			else :
				return False
	if temp == 0:
		return True
	else :
		return False
string = input("\n\tEnter String : ")
print(match(string))
##################################  OUTPUT  ###############################################

	Enter String : (Hello(Wordl))
True

---
**3. Write a function sumprimes(l) that takes as input a list of integers l and retuns the sum of all the prime numbers in l.**

In [ ]:
size = int(input("\n\tEnter Numbers of element : "))
numlist = list(map(int,input("\nEnter the numbers : ").strip().split(",")))[:size]
temp = 0
for i in numlist:
	flag = 1
	for x in range(2,i):
		if i % x >= 1:					
			flag = 1
		else:
			flag = 0
			break
	if flag == 1:
	 	temp += i
print(numlist)
print(temp)
##################################  OUTPUT  ###############################################

	Enter Numbers of element : 6

Enter the numbers : 1,2,3,4,5,6
[1, 2, 3, 4, 5, 6]
11

---
---
---

#**Extra Sheet : 2**

**1. Write a program which will find all such numbers which are divisible by 7 but are
not a multiple of 5, between 2000 and 3200 (both included).**

**The numbers obtained should be printed in a comma-separated sequence on a single
line.**

In [ ]:
numlist = [i for i in range(2000,3200) if (i % 7 == 0) and (i % 5 != 0)]
print(numlist)
##################################  OUTPUT  ###############################################

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

**2. Python Program to Move all Zeros present in an Array/List to the End**

In [ ]:
numlist = [1,2,0,1,2,0,1,2,0]
for x in numlist:
	if x ==  0:
		numlist.remove(x)
		numlist.append(0)
print(numlist)
##################################  OUTPUT  ###############################################

[1, 2, 1, 2, 1, 2, 0, 0, 0]

**3. Program to Find a Pair with the Given Sum in an Array in Python**

In [ ]:
numlist = [1,2,3,4,5,0,1,2,0]
val = int(input("\n\tEnter Vlaue of Sum"))
print(numlist)

for i in range(len(numlist)) :
	for x in range((i+1),len(numlist)) :
		if numlist[i] + numlist[x] == val :
			print(numlist[i],numlist[x])
   ##################################  OUTPUT  ###############################################

	Enter Vlaue of Sum5
[1, 2, 3, 4, 5, 0, 1, 2, 0]
1 4
2 3
3 2
4 1
5 0
5 0

**4. Python Program to Find the Minimum Difference Between the Index of Two Given Elements Present in an Array**

In [ ]:
numlist = [10,2,5,3,7,8]
val1 =  int(input("\n\tEnter Value 1 : "))
val2 =  int(input("\n\tEnter Value 2 : "))
a=0
temp1 = 0
temp2 = 0
print(numlist)
for x in numlist :
	a = a+ 1
	if val1 == x :
		temp1 = a
	elif val2 == x : 
		temp2 = a
print("\n\tIndex difference ",val1,val2," is ",abs(temp1-temp2))
##################################  OUTPUT  ###############################################

	Enter Value 1 : 10

	Enter Value 2 : 5
[10, 2, 5, 3, 7, 8]

	Index difference  10 5  is  2

**5. Python Program to Find the Minimum Index of a Repeating Element in an Array/List**

In [ ]:
def index(numlist,num) :
	a=0
	for x in numlist :
		if num == x :
			a
			break
		a = a+ 1
	return a
numlist = [10,2,5,3,7,8,8]
print(numlist)
num =  int(input("\n\tEnter Value  : "))
print("\n\t",num," is at index ",(index(numlist,num)))
##################################  OUTPUT  ###############################################

[10, 2, 5, 3, 7, 8, 8]

	Enter Value  : 5

	 5  is at index  2

**6. Python Program to Left Rotate a List by R Times**

In [ ]:
def index(numlist,num) :
	for x in range(0,num) :
		numlist.append(numlist[0])
		numlist.remove(numlist[0])
	return numlist
numlist = [1,2,3,4,5,6,7]
print(numlist)
num =  int(input("\n\tEnter Value  : "))
print(index(numlist,num))
##################################  OUTPUT  ###############################################

[1, 2, 3, 4, 5, 6, 7]

	Enter Value  : 5
[6, 7, 1, 2, 3, 4, 5]

**7. Python Program to Put Even and Odd elements in a List into Two Different Lists**

In [ ]:
eve =[]
odd = []	
list(filter(lambda x:eve.append(x) if  x%2 == 0 else odd.append(x),(int(x) for x in input("\n\t").split(","))))
print("\n\t",eve,"\n\t",odd)
##################################  OUTPUT  ###############################################

	11,22,33,44,55,66,77,88,99

	 [22, 44, 66, 88]
	 [11, 33, 55, 77, 99]

**8. Python Program to Read a List of Words and Return the Length of the Longest Word**

In [ ]:
lust = [ x for x in input().split(" ") ]
print(lust)
temp = 0
word = ""
for x in lust :	
	if len(x) > temp:
		temp = len(x)
		word = x
print(word,temp)
##################################  OUTPUT  ###############################################

Hello World
['Hello', 'World']
Hello 5

**9. Python Program to Replace Every List Element by Multiplication of Previous and Next**

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
newlst = []
a = -1
for i in range(0,len(lst)) :
  a+=1
  if a>=len(lst)-1:
    newlst.append(lst[len(lst)-1] * lst[0])
  else :
    newlst.append(lst[a+1] * lst[a-1])
print(newlst)
##################################  OUTPUT  ###############################################

[18, 3, 8, 15, 24, 35, 48, 63, 9]

**10. Python Program to Break a List into Chunks of Size N.**

In [ ]:
mylst = [ i for i in range(1,23)]
def myfun(newlist,n) :
  for i in range(0,len(newlist),n) : 
    yield newlist[i:i+n]
n = 5
chunk_list = list(myfun(mylst,5))
for x in chunk_list :
  print(x,end="\n")
##################################  OUTPUT  ###############################################

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]
[21, 22]

# **Extra Sheet 3**

**1. Write a list comprehension to make a list from the following list names with all the strings starting with ‘c’**

**names = ['Ch','Dh','Eh','cb','Tb','Td']**

In [ ]:
names = ['Ch','Dh','Eh','cb','Tb','Td',"Gc"]
mylst = list(filter(lambda x :True if "c" in x[0] else False ,names))
print(mylst)
##################################  OUTPUT  ###############################################

['cb']



---
**2. create a new list using list comprehension from the range 1 to 100 such that new
list contains square of the number and square should be even numbers.**

In [ ]:
names = [x for x in range(1,100)]
mylst = list(filter(lambda x :(x*x) if (x*x) % 2 == 0 else False ,names))
print(mylst)
##################################  OUTPUT  ###############################################

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]



---
**3. Write a list comprehension to create a list where element is a tuple of 3 elements**

**x, y and z**.

**The value of x is between 1 to 4.**

**The value of y is between 2 to 5**

**The value of z is between 5 to 8.**

**Also, list should contain only those tuples as element where x + y > z**

In [ ]:
lst = [(x,y,z) for x in range(1,4) for y in range(2,5) for z in range(5,8) if x + y > z]
print(lst)
##################################  OUTPUT  ###############################################

[(2, 4, 5), (3, 3, 5), (3, 4, 5), (3, 4, 6)]



---
**4. kilometre = [37.2, 39.5, 27.3, 17.8] convert kilometre into feet using list
comprehension**

In [ ]:
km = [37.2, 39.5, 27.3, 17.8]
feet=list(map(lambda x : x*3280.84,km))
print(feet)
##################################  OUTPUT  ###############################################

[122047.24800000002, 129593.18000000001, 89566.932, 58398.952000000005]



---
**5. matrix = [[10,11,12],[13,14,15],[16,17,18]] create transpose of the matrix using list comprehension.**

In [ ]:
matrics = [[1,2,3,4],[4,5,6,7],[1,7,8,9]]
trans = [ [matrics[j][i] for j in range(0,len(matrics))] for i in range(0,len(matrics[0]))]
for i in matrics:
  print(i,end="\n")
print("\n\nTranspose:")
for i in trans:
  print(i,end="\n")
##################################  OUTPUT  ###############################################

[1, 2, 3, 4]
[4, 5, 6, 7]
[1, 7, 8, 9]


Transpose:
[1, 4, 1]
[2, 5, 7]
[3, 6, 8]
[4, 7, 9]



---
**6. Create a new list from cars where new list will have all the cars except “Maruti”.**

**Replace “Maruti” with Mahindra.**

**cars = ["Toyota", "Hyundai", "Maruti", "Tesla", "Tata", "Honda"]**

In [ ]:
cars = ["Toyota", "Hyundai", "Maruti", "Tesla", "Tata", "Honda"]
cars = list(map(lambda x : x.replace("Maruti","Mahindra"),cars))
print(cars)
##################################  OUTPUT  ###############################################

['Toyota', 'Hyundai', 'Mahindra', 'Tesla', 'Tata', 'Honda']

# **Extra Sheet 4: Dictionary**

* We represent scores of batsmen across a sequence of matches in a two level 
dictionary as
follows:

{ 'match1' :{'player1':57, 'player2':38}, 'match2':{'player3':9, 'player1':42}'match3':{'player2':41,'player4':63, 'player3':91}



Each match is identified by a string, as is each player. The scores are all integers. The names
associated with the matches are not fixed (here they are 'match1','match2','match3'), nor are the
names of the players. A player need not have a score recorded in all matches.

Define a Python function orangecap(d) that reads a dictionary d of this form and identifies
the player with the highest total score. Your function should return a
pair (playername,topscore) where playername is a string, the name of the player with the highest
score, and topscore is an integer, the total score of playername.


The input will be such that there are never any ties for highest total score.
For instance:
orangecap({'match1':{'player1':57, 'player2':38}, 'match2':{'player3':9, 'player1':42},
'match3':{'player2':41, 'player4':63, 'player3':91}})
('player3', 100)

In [ ]:
matchlist = {'test1':{'Kohli' : 500,'Pujara':102},'test2':{'Jadeja': 610,'Pujara':185,'Kohli':110}}
newdict = {}
for x in matchlist.values():
    for y in x :
      if y in newdict:
        newdict[y]=newdict[y]+x[y]
      else:
        newdict[y]=x[y]
print(max(newdict,key=newdict.get),"is orange cap winner with",max(newdict.values()))
##################################  OUTPUT  ###############################################

Kohli is orange cap winner with 610

• We have a list of annual rainfall recordings of cities. Each element in the list is of the
form (c,r) where c is the city and r is the annual rainfall for a particular year. The list may
have multiple entries for the same city, corresponding to rainfall recordings in different
years.

Write a Python function rainaverage(l) that takes as input a list of rainfall recordings and
computes the avarage rainfall for each city.

The output should be a list of pairs (c,ar) where c is the city and ar is the average rainfall for this
city among the recordings in the input list. Note that ar should be of type float. The output should be
sorted in dictionary order with respect to the city name.

Here are some examples to show how rainaverage(l) should work.
rainaverage([(1,2),(1,3),(2,3),(1,1),(3,8)])
[(1, 2.0), (2, 3.0), (3, 8.0)]

rainaverage([('Bombay',848),('Madras',103),('Bombay',923),('Bangalore',201),('Madras',128)])
[('Bangalore', 201.0), ('Bombay', 885.5), ('Madras', 115.5)]

In [ ]:
def rainfallAvg(mylst):
  mydict = {}
  for i in mylst :
    if i[0] in mydict :
      mydict[i[0]].append(i[1])
    else :
      mydict[i[0]] = [i[1]]
  for i in mydict :
    avg = sum(mydict.get(i)) / len(mydict.get(i))
    mydict.update({i:avg})
  return mydict

mylst = []
size = input("Enter The Number of enteries : ")
for i in range(0,int(size)):
  temp = ()
  city = input("\n\tName of City : ")
  rainfall = input("\n\tRainfall of "+city+" : ")
  thistuple = (city,rainfall)
  temp = tuple(thistuple)
  mylst.append(temp)
print(rainfallAvg(mylst))

##################################  OUTPUT  ###############################################

Enter The Number of enteries : 5

	Name of City : Surat

	Rainfall of Surat : 115

	Name of City : Surat

	Rainfall of Surat : 120

	Name of City : Vapi

	Rainfall of Vapi : 130

	Name of City : Surat

	Rainfall of Surat : 120

	Name of City : Valsad

	Rainfall of Valsad : 112

TypeError: ignored

• A list in Python can contain nested lists. The degree of nesting need not be uniform. 

For
instance [1,2,[3,4,[5,6]]] is a valid Python list. Write a Python function flatten(l) that takes a
nonempty list of lists and returns a simple list of all the elements in the nested lists,
flattened out. 

You can make use of the following function that returns True if its input is of
type list.

def listtype(l):
 return(type(l) == type([]))

Here are some examples to show how flatten(l) should work.

In [ ]:
newlst = []
def flatten(mylst) :
  for i in mylst :
    if type(i) == type([]) :
      flatten(i)
    else:
      newlst.append(i)
  return newlst
mylst = [ 1,2,[3,[10,20]],[4,[5,6]]]
print(flatten(mylst))
##################################  OUTPUT  ###############################################

[1, 2, 3, 10, 20, 4, 5, 6]